
@font-face {
	font-family: "Maple Mono Font";
	src: url('../../public/fonts/MapleMonoFontFiles/MapleMono-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font_display: swap;
}

	html {
		font-family: "Maple Mono Font", monospace, system-ui, sans-serif;
		background: rgba(173, 183, 232, 0.83);
		background-size: 224px;
      	line-height: 1.5;
      	color: #191716;

	}


.svg-inline--fa {
	width: 1.33em;
	height: 1.33em;
}

/*Make it so that shiki uses maple mono*/


	a.link{
		color: #fb01ac;
	}
	a.active{
		color: #fb01ac;
	}

	a:visited {
		color: rgba(198, 2, 158, 0.84);
	}
	html.dark .astro-code,
	html.dark .astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		/* Use Maple mono*/
		font-family: "Maple Mono Font", monospace, system-ui, sans-serif;
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}

	html.dark {
		background: #060007;
		background-size: 224px;
		color: #CCD6EB;

		a.link{
			color: #EA638C;
		}
		a.active {
			color: #EA638C;
		}

		a:visited {
			color: #e49ae8;
		}


		@media (max-width: 642px) {
      #hamburgerToggle {
		  border: 2px #bcc9d3;
		  color: #bcc9d3;
		  background: none;
    }
		#hamburgerToggle:hover {
	  background: #bcc9d3;
	}
		.nav-links {
		  visibility: hidden;
		  opacity: 0;
		  transition: opacity 0.45s, visibility 0s 0.45s;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 80px;
			left: 30px;
			padding-left: 20px;
			padding-bottom: 10px;
			right: auto;
			width: 80%;
			background: rgba(50, 35, 71, 0.98);
			border: 2px solid #161d22;
			border-radius: 0.6em;
			font-size: 2.1rem;
		}
		.nav-links.open {
			  visibility: visible;
			  opacity: 1;
			  transition: opacity 0.45s;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 80px;
			left: 30px;
			padding-left: 20px;
			padding-bottom: 10px;
			right: auto;
			width: 80%;
			background: rgba(50, 35, 71, 0.98);
			border: 2px solid #161d22;
			border-radius: 0.6em;
			font-size: 2.1rem;
		}
	}

	}

	h2 {
		font-size: 2.1rem;
	}


	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	main {
		margin: auto;
		padding: 1rem;
		width: 1000px;
		max-width: calc(100% - 1rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 320px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		font-family: "Poppins Bold Font", sans-serif;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
		text-rendering: optimizeLegibility !important;
		-webkit-font-smoothing: antialiased !important;
	}
	slot {
		font-size: 1.2rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}

body {
  margin: 0 auto;
  width: 110%;
  max-width: 85ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

#hamburgerToggle{
	display: none;
}
.nav-links{
	color: #251721;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;

}

    @media (max-width: 642px) {
		#hamburgerToggle {
			display: block;
			border: 2px #bcc9d3;
			background: none;
		}

		#hamburgerToggle:hover {
			background: #bcc9d3;
		}

		.nav-links {
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.45s, visibility 0s 0.45s;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 80px;
			left: 30px;
			padding-left: 20px;
			padding-bottom: 10px;
			right: auto;
			width: 80%;
			background: rgba(150, 111, 220, 0.98);
			border: 2px solid #bcc9d3;
			border-radius: 0.6em;
			font-size: 2.1rem;
		}

		.nav-links.open {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.45s;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 80px;
			left: 30px;
			padding-left: 20px;
			padding-bottom: 10px;
			right: auto;
			width: 80%;
			background: rgba(150, 111, 220, 0.98);
			border: 2px solid #bcc9d3;
			border-radius: 0.6em;
			font-size: 2.1rem;
		}
	}

code{
	font-family: "Maple Mono Font", monospace, system-ui, sans-serif;
}
