---
import Layout from '../layouts/Layout.astro';
import RegistrationBlock from '../components/RegistrationBlock.astro';
---
<Layout title="Registration">
    <h4>Maybe discuss the benefits, such as the lab access, shared material pool, events, workshop opportunities etc.?</h4>
    <RegistrationBlock />
</Layout>

<style>
</style>
